{% if redirect_https %}
server {
    listen 80;
    server_name {{ hostname }} www.{{ hostname }};

    location ^~ /.well-known/acme-challenge {
        allow all; 
        root /var/www/certbot;
    }

    return 301 https://$host{% if https_port != '443' %}:{{ https_port }}{%endif%}$request_uri;
}
{% endif %}

{# Redirect to www:#}
{% if redirect_www %}
server {
    listen 443 ssl;
    server_name {{ hostname }};

    {% if env == 'local' %}
    ssl_certificate /etc/ssl/certs/selfsigned-{{hostname}}.pem; 
    ssl_certificate_key /etc/ssl/certs/selfsigned-{{hostname}}.key; 
    {% else %}
    ssl_certificate /etc/letsencrypt/live/{{hostname}}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{hostname}}/privkey.pem; 
    {% endif %}

    ssl_session_timeout 5m;
    ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
    ssl_prefer_server_ciphers on;
    ssl_ciphers 'EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH';

    return 301 $scheme://www.$host$request_uri;
}
{% endif %}


server {

    listen 80 ;
    listen [::]:80 ;

    root {{ install_location }} ;

    index index.php;
    server_name {{ hostname }} www.{{hostname}};

    include {{install_location}}.nginx.conf;



    listen [::]:443 ssl ipv6only=on; 
    listen 443 ssl; 
    {% if env == 'local' %}
    ssl_certificate /etc/ssl/certs/selfsigned-{{hostname}}.pem; 
    ssl_certificate_key /etc/ssl/certs/selfsigned-{{hostname}}.key; 
    {% else %}
    ssl_certificate /etc/letsencrypt/live/{{hostname}}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{hostname}}/privkey.pem; 
    include /etc/letsencrypt/options-ssl-nginx.conf; 
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; 
    {% endif %}





}






